.nagy{
    margin: auto;
    width: 400px;
}
.kek{
    float: right;
}
.piros2{
    float: right;
}
.kek1{
    margin-left: 200px;
}
.piros{
    margin-left: 100px;
}
.szurke{
    margin-left: 95px;
}